@model reciprocity.Models.Recipe.RecipeViewModel

@{
    ViewData["Title"] = Model.Recipe.Name;
}

<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
    <li><a asp-action="Index" asp-controller="Book">@Model.Book.Name</a></li>
    <li class="active">@ViewData["Title"]</li>
</ol>

<h1>@ViewData["Title"]</h1>
@Html.Partial("RecipeStatsPartial", Model.Recipe)
@if (Model.Recipe.Description != null)
{
    <p class="recipe-description">@Model.Recipe.Description</p>
}
else
{
    <p>
        <em>No description added.</em>
    </p>
}
<p>
    <a class="btn btn-default" asp-action="Edit">Edit Recipe</a>
</p>

<h2>Ingredients</h2>
@if (Model.Ingredients.Any())
{
    <table class="table" style="table-layout:fixed;">
        <colgroup>
            <col style="width:80px;" />
            <col style="width:50px;" />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Model.Ingredients)
            {
                <tr>
                    <td class="text-right">@ingredient.Quantity</td>
                    <td><abbr title="@ingredient.UnitName">@ingredient.UnitAbbreviation</abbr></td>
                    <td>@ingredient.Name</td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a class="btn btn-default" asp-action="AddIngredients">Add Ingredients</a>
        <a class="btn btn-default" asp-action="EditIngredients">Edit Ingredients</a>
    </p>
}
else
{
    <p>
        <em>No ingredients added.</em>
    </p>
    <p>
        <a class="btn btn-default" asp-action="AddIngredients">Add Ingredients</a>
    </p>
}

<h2>Instructions</h2>
<p>
    <em>No instructions added.</em>
</p>
<p>
    <a class="btn btn-default" asp-action="EditInstructions">Edit Instructions</a>
</p>

<h2>Actions</h2>
<p>
    <a class="btn btn-default" asp-action="Share">Share Recipe</a>
    <a class="btn btn-default" asp-action="Copy">Copy to New Recipe</a>
    <a class="btn btn-default" asp-action="Delete">Delete Recipe</a>
</p>
