@model reciprocity.Models.Recipe.RecipeModel

<ul class="list-inline">
    <li>
        <span class="glyphicon glyphicon-user"
              title="Servings" aria-hidden="true"></span>
        <span class="text-hide">Servings:</span>
        @Model.Servings
    </li>
    <li>
        <span class="glyphicon glyphicon-stats"
              title="Calories per serving" aria-hidden="true"></span>
        <span class="text-hide">Calories per serving:</span>
        0
    </li>
    <li>
        <span class="glyphicon glyphicon-time"
              title="Ready in" aria-hidden="true"></span>
        <span class="text-hide">Ready in:</span>
        @Model.ReadyIn.Humanize()
    </li>
    <li>
        <span class="glyphicon glyphicon-calendar"
              title="Added" aria-hidden="true"></span>
        <span class="text-hide">Added:</span>
        <time datetime="@Model.AddedAt.ToString("o")"
              title="@Model.AddedAt.ToString("F")">
            @Model.AddedAt.Humanize()
        </time>
    </li>
    <li>
        <span class="glyphicon glyphicon-pencil"
              title="Last modified" aria-hidden="true"></span>
        <span class="text-hide">Last modified:</span>
        <time datetime="@Model.LastModifiedAt.ToString("o")"
              title="@Model.LastModifiedAt.ToString("F")">
            @Model.LastModifiedAt.Humanize()
        </time>
    </li>
</ul>