@model reciprocity.Models.Home.AutoSuggestViewModel

@{
    Layout = null;
}

@{ int index = 0; }
@foreach (var suggestion in Model.Suggestions)
{
    index += 1;
    bool isExactPrefix = suggestion.Name.StartsWith(Model.Query, StringComparison.Ordinal);
    string label = isExactPrefix ? suggestion.Name : $"{Model.Query} - {@suggestion.Name}";
    <option value="@suggestion.Value :: @index" label="@label"
            data-value="@suggestion.Value"
            data-is-terminal="@suggestion.IsTerminal"
            data-serving="@suggestion.Serving"
            data-serving-unit="@suggestion.ServingUnit"
            data-calories-per-serving="@suggestion.CaloriesPerServing"></option>
}