@model reciprocity.Models.Home.AutoSuggestViewModel

@{
    Layout = null;
}

@foreach (var suggestion in Model.Suggestions)
{
    <option value="@suggestion.Name"
            data-Serving="@suggestion.Serving"
            data-ServingUnit="@suggestion.ServingUnit"
            data-CaloriesPerServing="@suggestion.CaloriesPerServing">
        @Model.Query - @suggestion.Name
    </option>
}