@model reciprocity.Models.Book.BookViewModel
@{
    ViewData["Title"] = Model.Book.Name;
}

<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
    <li>@ViewData["Title"]</li>
</ol>

<h1>@ViewData["Title"]</h1>
<p>
    This is a <strong>secret recipe book</strong> that is only visible to those
    with a copy of <a asp-action="Index">this link</a>. Consider bookmarking it
    as it cannot be recovered if you lose it.
</p>

<h2>Recipes</h2>
@if (Model.Recipes.Any())
{
    <div class="list-group recipe-list clearfix" role="list">
        @foreach (var recipe in Model.Recipes)
        {
            <a class="list-group-item recipe-list-item" role="listitem"
               asp-action="Index" asp-controller="Recipe"
               asp-route-recipeid="@recipe.RecipeId">
                <h3 class="list-group-item-heading">@recipe.Name</h3>
                @Html.Partial("RecipeStatsPartial", recipe)
                @if (recipe.Description != null)
                {
                    <p class="list-group-item-text recipe-description">@recipe.Description</p>
                }
                else
                {
                    <p class="list-group-item-text">
                        <em>No description added.</em>
                    </p>
                }
            </a>
        }
    </div>
    <div class="recipe-list-spacer"></div>
}
else
{
    <p>
        <em>No recipes added.</em>
    </p>
}
<p>
    <a class="btn btn-default" asp-action="AddRecipe">Add Recipe</a>
</p>

<h2>Actions</h2>
<p>
    <a class="btn btn-default" asp-action="Edit">Edit Recipe Book</a>
    <a class="btn btn-default" asp-action="Delete">Delete Recipe Book</a>
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_MasonryScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.recipe-list').masonry({
                itemSelector: '.recipe-list-item',
                percentPosition: true,
                transitionDuration: 0
            });
        });
    </script>
}
